body{
    background-image: url(./images/background.jpg);
}
h1{
    color: navy;
    margin-left: 20px;
}
.main{
  background-color: lightpink;
  width: 1000px;
  height:1000px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}